<section class="card">
  <div class="card-body">
    <h1>Notes App</h1>
    <hr />
    <p>This is a basic web application designed to manage simple notes using
      JavaScript technologies such as Node.js, MongoDB, and other related
      technologies. Technically, this is a multi-page application utilizing
      Handlebars as the template engine.</p>
    <img
      class="mx-auto d-block logo"
      src="/img/screenshot.png"
      alt="Screenshot of the app"
    />
    <h2>Features</h2>
    <ul>
      <li><strong>CRUD Operations:</strong>
        Users can perform Create, Read, Update, and Delete operations on notes.</li>
      <li><strong>User Authentication:</strong>
        Users can log in and save their personal notes securely.</li>
    </ul>
    <h2>Technologies Used</h2>
    <ul>
      <li><strong>Node.js:</strong>
        Server-side JavaScript runtime environment.</li>
      <li><strong>MongoDB:</strong>
        NoSQL database for storing notes and user data.</li>
      <li><strong>Handlebars:</strong>
        Templating engine for generating dynamic HTML content.</li>
      <li><strong>Express.js:</strong>
        Web application framework for Node.js, facilitating routing and
        middleware functionality.</li>
      <li><strong>Passport.js:</strong>
        Authentication middleware for Node.js.</li>
      <li><strong>HTML/CSS/JavaScript:</strong>
        Frontend technologies for user interface and interaction.</li>
    </ul>
    <h2>Usage</h2>
    <ol>
      <li>Register or log in with your credentials.</li>
      <li>Create, read, update, or delete your notes as needed.</li>
      <li>Ensure to log out for security purposes when you're done.</li>
    </ol>
    <h2>Future Enhancements</h2>
    <ul>
      <li>Implementing search functionality for notes.</li>
      <li>Adding support for organizing notes into categories or tags.</li>
      <li>Enhancing the user interface for a better user experience.</li>
    </ul>
    <h2>Watch More</h2>
    <p>For more information about my projects and experience, visit my
      <a href="https://adrian-mayora-curriculum.netlify.app/en/">personal
        website</a>.</p>
  </div>
</section>